<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selflife.dao.QueryCommandAllByCont">
              <cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" />
			<select id="queryCommandAllByTimeCont" parameterType="Statics"  resultMap="queryAllCommandByCont">  
						     SELECT   ec_command_id,ec_command_title,ec_cattag_code 
  					FROM bd_command_dt where to_char(ec_command_time,'yyyy-mm')=#{name} 
  					order by ec_command_id desc
			</select> 
			
			<select id="queryCommandAllByCattagCont" parameterType="Statics"  resultMap="queryAllCommandByCont">  
						     SELECT   ec_command_id,ec_command_title,ec_cattag_code 
  					FROM bd_command_dt where ec_cattag_code=#{code} 
  					order by ec_command_id desc
			</select>  
			
			<resultMap type="Command" id="queryAllCommandByCont">
				<id property="ec_command_id" column="ec_command_id"/>
				<result property="ec_command_title" column="ec_command_title"/>
				<result property="ec_cattag_code" column="ec_cattag_code"/>
			</resultMap>
			
			
</mapper>
