<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selflife.dao.QueryCatTag">
               		<cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" />
        	<resultMap type="CatTag" id="catTags">
        		<id property="id" column="id"/>
        		<result property="name" column="name"/>
        		<result property="code" column="code"/>
        		
        	</resultMap>
         <select id="queryCatTagAllSelect" resultMap="catTags">
        		select ec_cattag_id as id,ec_cattag_name as name,ec_cattag_code as code from bd_techcat_dt where ec_cattag_status=0
         </select>
         <select id="queryCatTagAll" resultMap="catTags">
        		select ec_cattag_id as id,ec_cattag_name as name,ec_cattag_code as code from bd_techcat_dt 
         </select>
         <select id="queryCatTag" parameterType="CatTag" resultType="CatTag">
        		select ec_cattag_id as id,ec_cattag_name as name,ec_cattag_code as code,ec_cattag_status as status from bd_techcat_dt 
        		where ec_cattag_id=#{id}
         </select>
</mapper>
